# These are the email config settings
Username=
Password=
Host=
Port=
From=

# This is the recipient list
To="a@mail.com,b@mail.com"

# Can use  `head -n1 /dev/urandom | base64` to generate
AuthKey=some-auth-key

# This is the port that mail-server listens for requests on
ServerPort=8080
