[Unit]
Description=a simple mail server in go

[Service]
ExecStart=/home/ubuntu/go/mail-server
EnvironmentFile=/home/ubuntu/.env
Restart=on-failure

[Install]
WantedBy=multi-user.target
